* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
    color: #333;
    background-color:#48a5bd;
    padding: 1rem;
    border-radius: 5px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
  }
  
  button {
    background-color: #48a5bd;
    color: #080808;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2c82aa;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
  }
  
  li {
    background-color: #e9ecef;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
  }
  
  li button {
    background-color: #d9534f;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  li button:hover {
    background-color: #c9302c;
  }
  